<div class="bg-gray-700 border-b-2 border-gray-500 text-white xl:px-2 py-2">
    <%= link_to "Back to projects", projects_path, class: "text-xl underline" %>
</div>

<div id="app" data-controller="vue" data-vue-target="root" class="h-full flex flex-col">
